h1{
    width: 100%;
    margin-top: 1px;
    padding: 10px;
}
body{
    background-size: cover;
    background-position: center;
}
h3{
    bottom: 0;
    background-color: grey;
    width: 100%;
    position: fixed;
    margin: 0;
    padding:10px
    
}
canvas{
    border: 3px solid whitesmoke;
    margin-top: 30px;
}